
.level_display{
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.level_container{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}

.level_container_languages{
    width: 70%;
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.level_container_arrow{
    width: 3em;
    height: auto;
    cursor: pointer;
}


#expand_skills{
    position: absolute;
    bottom: 1rem;
    right: 0.5rem;
    font-size: xx-large;
    cursor: pointer;
}


#modal_dialog{
    position: absolute;
    z-index: 100;
}


.level_simple_container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
}
.level_sprite_simple_container_svg{
    width: 5rem;
}

.level_sprite_simple_container{
    width: fit-content;
    padding: 0px 20px;
    margin: 10px 0px;
    align-items: center;
}

.level_sprite_simple_data{
    text-align: center;
}

.level_sprite_simple_name{
    font-size: x-large;
}


@media screen and (max-width: 1023px){
    .skylight-dialog{
        width: 84vw !important;
        left: 5% !important;
        margin-left: 0 !important;
    }
}


@media screen and (min-width: 1024px){
    .level_display{
        width: 30vw;
    }

    .level_container{
        height: 400px;
    }


    .level_count{
        z-index: 99;
    }

    #expand_skills{
        bottom: 4.5rem;
        right: 2.4rem;
    }

    .level_simple_container{
        flex-direction: row;
        width: 100%;
        margin-top: auto;
    }

    .skylight-dialog{
        max-height: 50vh;
    }
}