.level_sprite_container{
    display: block;
    max-width: 0px;
    opacity: 0;
    overflow: -moz-hidden-unscrollable;
}

.level_sprite_container.active{
    display: flex;
    flex-direction: column;
    opacity: 1;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.level_sprite_container{
    position: relative;
    width: 100%;
    bottom: 100px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.7s cubic-bezier(.58,-0.57,.07,1);


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.level_sprite_container.active{
    bottom: 0;
    height: 100%;
    opacity: 1;
}

.level_data{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: xx-large;
    padding: 20px 0px;
}

.level_sprite_svg{
    max-width: 12rem;
    width: 100%;
    height: auto;
}

.level_bar{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin: 20px 0px;
}

.level_progress{
    display: flex;
    height: 60%;
    justify-content: flex-end;
    align-items: center;
    color: black;
    margin-left: 2%;    
    overflow: hidden;
    padding: 2px 0px;
    border-radius: 20px;
    transition: all 1s cubic-bezier(.58,-0.57,.07,1);
}

.level_progress > p{
    display: block;
    margin-right: 10px;
}

.level_sprite_simple_container{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}


.level_sprite_simple_container_svg{
    height: 100%;
}

@media screen and (min-width: 1024px){
    .level_sprite_container{
        max-width: 0px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .level_sprite_container.active{
        width: 80%;
    }

    .level_sprite_svg{
        width: 40%;
    }
}