
.card_header{

    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    font-size: x-large;
    font-weight: 300;
    border-bottom: 1px solid ;
}

.card_body_img svg path{
    fill: none;
    stroke-width: 3px;
}


/*Comoportamiento*/
.card {
    max-width: 95vw;
}

.card:not(:first-child){
    margin: 30px 0px !important;
}

.card_body{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    font-size: x-large;
    font-weight: 300;
    padding: 10px 15px;
}

.card_body_text{
    max-width: 100%;
}

.card_body_img{
    max-width: 100%;
    margin-bottom: 20px;
}

@media screen and (min-width: 500px){


    .card_body_img svg{
        max-height: 25vh;
        border-right: 1px solid;
        padding-right: 20px;
        margin-right: 20px;
    }

    .card_body{
        display: flex;
        flex-direction: row;
        text-align: center; 
        
    }

    .card_body_img svg{
        justify-self: center;
        max-width: 20rem;
        height: 20rem;
        padding: 0px;
        border: none;
    }

    .card_body_text{
        border-left: 1px solid;
        padding-left: 20px;
    }
    
    #body_reverse .card_body_text{
        border-right: 1px solid;
        padding-right: 20px;
        margin-right: 20px;
        border-left: none !important;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    #body_reverse .card_body_text *{
        margin: 0px;
    }
    #body_reverse .card_body_img *{
        
        border-right: none !important;
    }

    #body_reverse{
        flex-direction: row-reverse;
    }
}

@media screen and (min-width: 1024px){

    .card{
        max-width: 70vw;
    }
}