
.card_header{

    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    font-size: xx-large;
    font-weight: 300;
    border-bottom: 1px solid ;
    text-align: center;
}

.card:first-child svg path{
    fill: none;
    stroke-width: 3px;
}

.card_link{
    color: inherit;
    font-size: large;
}
.card_body_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Comoportamiento*/
.card {
    width: fit-content;
    margin: auto;
}

.card:not(:first-child){
    margin: 30px 0px !important;
}

.card_body{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    font-size: x-large;
    font-weight: 300;
    padding: 10px 15px;
}

.card_body_text{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card_body_text a{
    margin-top: 15px;
}

.card_body_img{
    width: 100%;
    margin-bottom: 20px;
}

@media screen and (min-width: 500px){


    .card_body_img{
        width: 12rem;
        padding-right: 20px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .card_body{
        display: flex;
        flex-direction: row;
        text-align: center; 
        max-height: fit-content;
    }

    .card_body_text{
        padding-left: 50px;
        border-left: 1px solid;
        text-align: center;
    }

    
    .card:nth-of-type(2n) .card_body_text {
        border-right: 1px solid;
        padding-right: 20px;
        margin-right: 20px;
        border-left: none !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;

    }

    .card:nth-of-type(2n)  .card_body_img{
        border-right: none !important;
    }

    .card:nth-of-type(2n) .card_body {
        flex-direction: row-reverse;
    }
}

@media screen and (min-width: 1024px){

    .card{
        max-width: 60vw;
    }
}