
.contact_card{
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-content: center;
    align-self: center;
}

.contact_container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.rrss_container{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 50px 20px;
    align-items: center;
    height: fit-content;
    overflow: hidden;
    margin: 10px;
    border-radius: 5px;
}

.button{
    background: black;
    border-radius: 25px;
    padding: 5px 15px;
    text-decoration: none;
    color: #FEFEFE;
    font-weight: bold;
}

.rrss_name{
    display: block;
}

.rrss_link{
    display: block;
}

.rrss_icon{
    width: 70%;
}

@media screen and (min-width: 700px){
    .contact_card{
        align-self: flex-start;
    }
}
@media screen and (min-width: 1024px){
    .contact_card{
        align-self: flex-start;
        flex-direction: column;
        width: 30vw;
        height: 100%;
    }

    .contact_container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100%;
        width: 100%;
        min-height: 15em;
        justify-content: center;
        margin-top: 10%;
    }
    
    .rrss_container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 10%;
        padding: 50px 20px;
        align-items: center;
        margin: 0px auto;
        overflow: hidden;
        transition: width 0.3s cubic-bezier(0,1.74,.76,.86);
    }

    .rrss_name{
        display: none;
    }

    .rrss_icon{
        width: auto;
    }
    
    .rrss_link{
        display: none;
    }
    
    .rrss_container:hover{
        width: 30%;
        align-items: center;
    }
    
    .rrss_container:hover > .rrss_name{
        display: block;
    }
    
    .rrss_container:hover > .rrss_link{
        display: block;
        position: relative;
        bottom: 0;
    }
    
    .rrss_container:hover > .rrss_icon{
        width: 70%;
    }
    
}