
.container{
    display: flex;
    max-width: 100vw;
    align-content: center;
    padding: 1.3em;
    text-align: justify;
}


@media screen and (min-width: 1024px){
    .container{
        display: flex;
        align-content: center;
        justify-content: center;
    }
    
}