.home_presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.home_presentation_image{
    width: 15rem;
    border-radius: 25%;
    margin-bottom: 20px;
}

#pres_nombre{
    font-size: xx-large;
}

.home_presentation_text{
    min-height: 200px;
    height: 100%;
    padding: 0px 20px;
    text-align: center;
    padding: 30px 0px;
}

.home_presentation_text p{
    font-size: x-large;
    justify-self: center;
    font-weight: 300;
}

@media screen and (min-width: 1024px){
    .home_presentation_image{
        max-width: 20vw;
        margin-top: 0px;
    }

    .home_presentation{
        flex-direction: row;
        justify-content: center;
        padding: 20px 0px 0px 0px;
        margin-bottom: auto;
        height: auto;
    }
    
    .home_presentation_text{
        padding-left: 3rem;
    }



}