
.theme_dropdown{
    font-size: larger;
}

.dropdown_header{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}


.dropdown_header > div{
    margin: 0px 5px;
}

.dropdown_body{
    position: absolute;
    z-index: 100;
    display: flex;
    padding: 5px 15px;
    flex-direction: column;
    opacity: 0%;
    border-radius: 10px;
    box-shadow: inset;
    background: rgba(255, 255, 255, 0.9);
    color: #1b222c;
    border: 1px  black;
    right: 5px;
    margin-top: 5px;
    margin-right: 20px;
}

.dropdown_arrow{
    width: 0.8em;
    padding-left: 5px;
}

#dropdown_option{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
    cursor: pointer;
}

#dropdown_option:nth-last-child(2){
    border-top: solid 1px;
}

.dropdown_option_color{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
}

.dropdown_languaje_icon{
    width: 20px;
}
@media screen and (min-width: 500px){
    .dropdown_body{
        position: absolute;
        right: auto;
        margin-left: -45px;
    }
}
