.home_body{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}


@media screen and (min-width: 1024px){
    .home_presentation img{
        width: 20rem;
    }    
    
    .home_presentation{
        flex-direction: row;
        justify-content: center;
        padding: 20px 0px 0px 0px;
    }
    
    .home_body{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: 5vh;
        justify-content: space-evenly;
    }
    
}

@media screen and (min-width: 700px) and (max-width: 1024px){

    .home_body{
        flex-direction: row;
        align-items: flex-start;
    }
    
}